* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav1 {
    background-color: #131921;
    width: 100%;
    height: 9vh;
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
}

.sec1 {
    width: 28vmax;
    display: flex;

}

.inner1_1 {
    width: 60%;
    /* height: 9vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

}

.amazonlogo {
    height: 2.5vmax;
    margin-top: 10px;
}



.inner1_2 {
    display: flex;
    color: white;
    width: 50vmin;
    align-items: center;
    cursor: pointer;

}

.loction {
    align-self: self-end;
}

.box {
    padding: 2px 8px;
    margin: 7px;
}

.box:hover,
.inner1_2 a:hover {
    border: 1px solid white;
}

.sec2 {
    width: 40vmax;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search {
    display: flex;

}

.drop {
    width: 7vmin;
    font-size: 1vw;
    height: 6.5vh;
    background-color: rgb(240, 226, 226);
    border: none;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;

}

.searchbar {
    width: 30vw;
    border: none;
    height: 6.5vh;

}

#searchicon {
    border: none;
    font-size: large;
    border-radius: 10px;
    height: 9.5vh;

}

.searchbar:focus {
    outline-style: none;
}

.search:hover {
    outline: 3px solid orange;
    border-radius: 5px;
}

.sec3 {
    width: 32vmax;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
}

.inner3_1 {
    display: flex;
    align-items: center;
    width: 20vw;    
    margin: 5px 0px;

}

.flag {
    height: 1.5vw;
    width: 3vh;
    margin-left: 5px
}

.dd {
    width: 1vw;
    font-size: 2vh;
    background-color: #131921;
    border: none;
    color: white;
    cursor: pointer;
}

.dd option {
    background-color: white;
    color: #131921;
}

.pa1 {
    font-size: small;
    margin: 0px;
}

.inner3_2 {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.sal {
    height: 2vh;
}

.arrow {
    align-self: center;

}

.inner3_3 {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 20vw;
    padding-left: 7px;
        margin: 5px 0px;

}

.inner3_4 {
    width: 20vw;
    display: flex;
    padding: 8px;
    align-items: center;
        margin: 5px 0px;

}

.inner3_4 h4 {
    align-self: end;
}

.inner3_4 img {
    width: 2.5vw;
    height: 5vh;
    color: white;
    font-weight: bolder;
}

#serchicon {
    width: 2.7vw;
    font-size: large;
}

.search {
    display: flex;
}

.inner3_1:hover,
.inner3_2:hover,
.inner3_3:hover,
.inner3_4:hover {
    border: 1px solid white;
    cursor: pointer;
}

.nav2{
     background-color: #232f3e;
    height: 6.5vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav2 li {
    list-style: none;
    display: inline-block;
}

.burger {
    display: flex;
    width: 4.5%;
    justify-content: center;
}

.burger img {
    height: 4vh;
    width: 2vw;
    display: flex;
    cursor: pointer;
}

.dropbtn {
    border: none;
    cursor: pointer;
    background-color: #232f3e;
    color: white;
    font-weight: bold;
    font-size: clamp(1.2vw,1.5vh,1vw);
}

.dropbtn img {
    height: 25px;
    width: 20px;
    display: flex;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.collection {
    width: 93%;
    display: flex;
    margin-left: 1vh;
}
.collection ul{
        display: flex;
}
.collection a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-items: center;
    padding: 1.2vh;
    font-size: clamp(1vw,0.5vh,1vw);
}

/* this content maybe use so don't delete */
/* .dd a:hover {
  background-color: #f1f1f1;
  color: #131921;
} */

/* .inner3_1:hover .dropdown-content {
    display: block;
    color: #131921;
    } */
.burger:hover {
    border: 1px solid white;
}

.nav2 a:hover {
    border: 1px solid white;
    transition: 0.3s;
}

.m1 img{
    width: 100%;  
    height: 70vh;
    position: absolute;
}
.m2{
    position: relative;
    background-color:;
    /* width: 50%; */
    height: 50vh;
    top: 50vh;
}